
<div class="dialog-main-container">
    <h2 mat-dialog-title>{{ dialogType ? 'Enter' : 'Set' }} Password</h2>
    <div mat-dialog-content>
        <div class="dialog-content">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Toggle password visibility'">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">Cancel</button> &nbsp;
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>
</div>